asgiref==3.8.1
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
cffi==1.16.0
channels==4.1.0
channels-redis==4.2.0
constantly==15.1.0
cryptography==42.0.8
daphne==4.1.2
Django==5.0.7
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
msgpack==1.0.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.9.0
pyOpenSSL==24.1.0
python-decouple==3.4
python-dotenv==1.0.1
pytz==2021.1
redis==5.0.7
service-identity==24.1.0
six==1.15.0
sqlparse==0.4.1
Twisted==24.3.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typing_extensions==4.12.2
tzdata==2024.1
zope.interface==5.2.0
