<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Hub</title>
    <link rel="icon" href="{% static 'Private_hub_icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM4lfr8pc6l0aD6EdjX9z5W5ohks/Cs4H6wPkjp" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/41bf13c66b.js" crossorigin="anonymous"></script>   
    {% block style %}
      
    {% endblock style %}
</head>
<body class="w-fit">
    
    {% block body %}
      
    {% endblock body%}


    {% block script %}
      
    {% endblock script %}
</body>
</html>