<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block body %}
    
        
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card shadow-sm" style="max-width: 24rem;">
        <div class="card-header text-center bg-light text-dark">
            <p class="mb-0">Check your video and audio</p>
        </div>

        <div class="p-2">
            <video id="local-video" autoplay playsinline class="w-100 rounded"></video>
        </div>

        <div class="card-body">
            <div class="d-flex justify-content-center mb-4">
                <button id="toggle-audio" title="Mute" class="btn btn-danger btn-lg rounded-circle me-3">
                    <i class="fas fa-microphone"></i>
                </button>
                
                <button id="toggle-video" title="Video Off" class="btn btn-danger btn-lg rounded-circle">
                    <i class="fas fa-video"></i>
                </button>
            </div>

            <form action="{% url 'main_view' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="action" name="action" value="">

                <div class="mb-3">
                    <button type="button" id="btn-create" onclick="setAction('create')" class="btn btn-dark btn-block">
                        Create Instant Meet <i class="fas fa-play ms-2"></i>
                    </button>
                </div>

                <div class="input-group">
                    <input type="text" id="room" name="room" placeholder="Room name..." required class="form-control" aria-label="Room name">
                    <button type="button" id="btn-join" onclick="setAction('join')" class="btn btn-outline-dark">
                        Join
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock body %}

{% block script %}
<script>
    function setAction(action) {
        document.getElementById('action').value = action;
        document.querySelector('form').submit();
    }
</script>
<!-- <script src="{% static 'js/main.js' %}"></script> -->
<script src="{% static 'js/localvideo.js' %}"></script>
  
{% endblock script %}

